package pages

templ Home() {
	<div id="home" class="app gradient-background">
		<div class="home-row transition">
			<div class="home-main-menu" hx-get="/components/home/main-menu/" hx-trigger="load"></div>
			<div class="home-side-bar">
				<div hx-get="/components/email/mailbox/menu/" hx-trigger="load" hx-swap="outerHTML"></div>
				<div hx-get="/components/email/account/menu/" hx-trigger="load" hx-swap="outerHTML"></div>
			</div>
		</div>
	</div>
}
