package pages

templ Index() {
	<div class="app gradient-background">
		// <div class="heading-container ">
		<p class="heading shadow-text">MailMan</p>
		// </div>
		// <div class="mailman">
		<img class="mailman" src="/src/assets/illustrations/mailman.svg" alt="The mailman"/>
		// </div>
		<div
			class="login-button shadow"
			hx-get="/pages/login/"
			hx-target=".app"
		>
			<button style="all:unset">
				Login
			</button>
		</div>
	</div>
}
