package pages

templ Login() {
	<div class="login-form-container transition gradient-foreground strong-shadow">
		<form class="login-form" hx-post="/auth/login/">
			<p class="heading shadow-text">MailMan</p>
			<div class="login-form-body">
				<div class="login-field-container">
					<label class="login-label" for="email">Email</label>
					<input name="email" class="login-field" type="email"/>
				</div>
				<div class="login-field-container">
					<label class="login-label" for="password">Password</label>
					<input name="password" class="login-field" type="password"/>
				</div>
			</div>
			<div>
				<div class="login-button shadow">
					<button style="all:unset" type="submit">
						Login
					</button>
				</div>
				<div class="socials-container">
					<p class="or-label">or</p>
					<div class="socials-buttons">
						<img class="social-logo" src="/src/assets/icons/svg/Gmail.svg" alt="Gmail"/>
						<img class="social-logo" src="/src/assets/icons/svg/Outlook.svg" alt="Outlook"/>
					</div>
				</div>
			</div>
		</form>
	</div>
}
