package home

type MenuOption struct {
	Title        string
	SubText      string
	Asset        string
	OnClickHxGet string
}

templ MainMenuOption(option MenuOption) {
	<div
		class="home-main-menu-option"
		hx-get={ option.OnClickHxGet }
		hx-target=".home-main-menu"
	>
		<div class="home-main-menu-content">
			<div class="home-main-menu-title">
				<p>{  option.Title }</p>
				<p class="home-main-menu-option-info">
					{ option.SubText }
				</p>
			</div>
			<div class="main-menu-image-container">
				<img class="main-menu-image" src={ option.Asset } alt="search files svg"/>
			</div>
		</div>
	</div>
}

templ MainMenuOptions(options []MenuOption) {
	<div class="home-main-menu-options-container">
		for _, option := range options {
			@MainMenuOption(option)
		}
	</div>
}
