html {

    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

/* Landing Page */
.app {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.mailman {
    width: auto;
    height: 250px;
}

.login-button {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 42px;
    font-size: var(--fs-md);
    font-weight: 400;
    border-radius: var(--br-sm);
    color: var(--font-color);
    border-width: 0;
}

.login-button:hover {
    cursor: pointer;
    animation: scaleAnim 0.5s forwards;
}

.heading {
    color: var(--font-color);
    font-weight: 100;
    font-size: var(--fs-title);
    word-wrap: break-word;
}

.on-image-load {
    animation: onImgLoad 1.25s ease-out forwards;
}

.transition {
    animation: onPageLoad 1s ease-out forwards;
}

.login-form-container {
    border-radius: var(--br-lg);
    text-align: center;
    display: flex;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 75%;
    border-radius: var(--br-lg);
}

.login-form {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 100%;
}

.login-form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

}

.login-field-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.login-label {
    font-size: var(--fs-md);
}

.or-label {
    color: var(--font-color);
    font-size: var(--fs-footnote);
    font-style: italic;
}

.login-field {
    border-radius: var(--br-sm);
    font-size: var(--fs-md);
    border: 0px;
    padding: 2%;
    height: 28px;
    width: 250px;
}

.socials-container {}

.socials-buttons {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.social-logo {
    width: 36px;
    height: 36px;
}

.social-logo:hover {
    cursor: pointer;
}